logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
app/**/*.js
app/**/*.js.map
config/**/*.js
config/**/*.js.map
test/**/*.js
test/**/*.js.map
lib/**/*.js
lib/**/*.js.map